/* Estilos Generales NUEVOS */
* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #feffff;
}
 p {
    font-size: 14px;
    color: black;
}
.contenedor {
    margin: 0;
    width: 100%;
}
body {
    margin: 0;
    width: 100%;
    background-color:#626867 ;;
}
/* Estilos del header  */
header {
    background-color:#4f5554;
}
.logo h2 {
    padding: 10px;
    margin: 0;
    text-align: start;
    font-family: 'Dancing Script', cursive;
    font-size: 30px; 
}
.contenedor nav {
    display: flex;
    flex-direction: row;
    padding: 0 0 5px 5px;
}
.link a {
    background-color: #2173ed;
    margin: 5px;
    padding: 3px;
    color: #feffff;
    text-decoration: none;
    font-size: 12px;
    border-radius: 10px 0;
}
/* Estilos footer y redes */
footer{
    width: 100%;
    margin:0;
    overflow:hidden;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #4f5554;
}
.redes{
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 10px;
    position: relative;
}
.redes a{
    text-decoration: none;
    color: #feffff;
    font-size:20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #2173ed;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,.5);
    margin: 0 5px;
}
/* Estilos de home */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height:90vh;
    width: 100%; 
    background-image: url("bici-fondo3.jpg") ;
    opacity:0.9;
    background-repeat: no-repeat;
    background-position: reverse;
 }
#hero h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    position: relative;
    -webkit-text-stroke: 0.7px black;
}
.boton_tienda > a {
    display: flex;
    justify-content: center;
    position: relative;
    color: beige;    
    font-size:20px;
    line-height: 30px;
    background-color: #0075EA;   
    border-radius: 10px ;
    box-shadow: 2px 2px 5px rgba(0,0,.5);
    padding: 4px;
    text-decoration: none;
}
.boton_tienda a:hover {
    color: #80a8ff;
    } 
/*Sobre Nosotros*/
.nosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
   
}
.nosotros p{
    color: rgb(211, 207, 207);
}
.nosotros-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    border: solid 10px;
    box-shadow: 10px 10px rgba(9, 2, 2, 0.5);
}

/*Ubicacion*/
.contenido {
    display: grid;
    grid-template-columns: auto;   
}
.mapa { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:#626867; 
    padding-top: 5%;
}

.clima h4 {
    margin: auto;
    padding-bottom: 15px;
}


/*Tienda*/
.container-items{
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: 1fr;
    gap: 1.1rem;
    padding: 15px 30px; 
}
.item{
    border-radius: 30px;
    background-color: #797a7b;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
.item img{
    width: 100%;
    height: 75vw;
    object-fit: cover;
    border-radius: 30px 0 30px 0;
    transition: all .5s;
}
.item figure{
    overflow: hidden;
}
.item:hover img{
    transform: scale(1.2);
}
.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.precio{
    margin-top: -20px;
    font-size: 18px;
    font-weight: 900;
}
.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    margin-top: -20px;
}
.info-product button:hover{
    background-color: #2173ed;
    transition:0.5s
}
/*Contacto*/
.formulario {
    padding: 0 30%;
    background-color:  #626867;
}

.row {
    display: flex;
    flex-wrap: wrap;

}
.titulo-formulario p{
    color: rgb(211, 207, 207);
}
button {
    color: black;
} 

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}


.col {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.mt-4 {
    margin-top: 1.5rem!important;
}

b {
    text-align: center;
}
.card {
    text-align: center;
}

/*Media queries*/
@media screen and (min-width: 720px) {
    /*Tienda*/
    .container-items { 
        display: grid;
        grid-template-columns: 33% 33%;
        grid-auto-rows: max-content;
        height: 10px;
        justify-content: center;
    }
    .item img{
        width: 100%;
        height: 5%;
        object-fit: cover;
        border-radius: 40px 0 0px 0;
        transition: all .5s;
    }
    .item{
        border-radius: 40px 0;
        background-color: #797a7b;
        }
}

@media screen and (min-width: 1000px) {
 /*Generales*/
     h2  h3  h4 {
        font-size: large;
    }
 /*Tienda*/
    .container-items { 
        display: grid;
        grid-template-columns: 33% 33% 33%;
        height: 10px;
        align-items: center;
        padding: 15px 30px; 
    }
    .item img {
        display: flex;
        width: 100%;
        object-fit:contain;
        border-radius: 50px 0 0 0;
        transition: all .5s;
    }
    .item{
    border-radius: 50px 0;
    background-color: #797a7b;
    }
   /*Home*/ 
    #hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 90vh;
        width: 100%;
        background-image: url("bici-fondo3.jpg") ;
        opacity:0.9;
        margin: 0;
        padding: 0;

     }
     /*Sobre nosotros*/
     .nosotros-img {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 90vh;
        border: solid 10px;
        box-shadow: 10px 10px rgba(9, 2, 2, 0.5);
    }
}