/* Estilos header */
header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    grid-area: header;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: end;
    align-items: center;
}
/* Estilo links header */
header a {
    background-color: white;
    padding: 0 10px 0 10px;
    border-radius: 10px 0 10px 0;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease-in-out;
}
/* Efecto links header */
nav a:hover {
    color: #0075EA;
}

/* Logo página */
.logo {
    display: flex;
    text-align: left;
    align-items: center;

}

/* Estilos del body */
body{
    background-color: #ebf3fc;
    font-family: sans-serif;
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    text-align:center; 
    
}

/* Estilos banner principal index */
@media (max-width: 700px) {
    header{
        flex-direction: column;

    }
    nav {
        padding: 10px 0px;
    }
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("bici-fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1, #hero h2 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: #000000;
    flex-direction: column;
    
}

/* Estilos footer y redes */
footer {
    text-align: center;
    background-color: #3498db;
    position: absolute;
    bottom:0;
    width: 100%;
}

.redes {
    min-width: 700px;
    display: flex;
    justify-content:center;
    margin: 10px;
}
.redes a{
    text-decoration: none;
    color: beige;
    font-size:20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #0075EA;   
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,.5);
    margin: 10px;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "sidebar"
        "body"
        "footer";
    min-height: 100vh;
}

/* estilo formulario */
form{
    align-items: center;
    background-color: #f1f4f7;
}
input {
    border: 1px solid blue;
    width: 50%;
    padding: 5px;
    border-radius: 20px;
}
input [type= "button"]{
    background-color: blue ;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: black;
}

input [type= "button"]: hover {
    background-color: green;
}
