/* Estilos Generales NUEVOS */
* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #feffff;
}
 p {
    font-size: 14px;
    color: black;
}
.contenedor, body {
    margin: 0;
    width: 100%;
    background-color: #4f5554;
}
body {
    background-color: #626867;
}
/* Estilos del header  */
.logo {
    padding: 10px;
    margin: 0;
    text-align: start;

}
.contenedor nav {
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.link a {
    background-color: #2173ed;
    margin: 5px;
    padding: 3px;
    color: #feffff;
    text-decoration: none;
    font-size: 12px;
    border-radius: 10px 0;
}
/* Estilos footer y redes */
footer{
    width: 100%;
    margin:0;
    overflow:hidden;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #4f5554;
}

.redes{
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 10px;
    position: relative;
}
.redes a{
    text-decoration: none;
    color: #feffff;
    font-size:20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #2173ed;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,.5);
    margin: 0 5px;
}
/* Estilos de home */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 81.5vh;
    width: 100%;
    background-image: url("bici-fondo.jpg") ;
    opacity:0.9;
    background-repeat: no-repeat;
    background-position: center;
 }
#hero h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    position: relative;
    -webkit-text-stroke: 0.7px black;
}

.boton_tienda > a {
    display: flex;
    justify-content: center;
    position: relative;
    color: beige;    
    font-size:20px;
    line-height: 30px;
    background-color: #0075EA;   
    border-radius: 10px ;
    box-shadow: 2px 2px 5px rgba(0,0,.5);
    padding: 4px;
    text-decoration: none;
}
.boton_tienda a:hover {
    color: #80a8ff;
    } 

/*Sobre Nosotros*/
.nosotros {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    background-image: url("bici-fondo.jpg");
    opacity:0.9;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    position: relative;
    -webkit-text-stroke: 0.7px black;
}
.nosotros p, h2,b{
    text-align: center;
    font-size: 30px;
    color:#85a0db;
    text-decoration: dotted;
}

/*Ubicacion*/
.mapa {
    display: flexbox;
    flex: center;
    gap: 20px;
    text-align: center;
    align-items: center;
    position: absolute;
    margin: 100px 20px;
}
.mapa > iframe {
    margin: 10px;
}

/*Tienda*/
.container-items{
    display: grid;
    grid-template-columns: 1;
    position: inherit;
    gap: 20px;
    margin: 20px;
    
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.precio{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}